<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liubo.infrastructure.dao.IAiClientSystemPromptDao">

    <resultMap id="BaseResultMap" type="com.liubo.infrastructure.dao.po.AiClientSystemPrompt">
        <id column="id" property="id"/>
        <result column="prompt_id" property="promptId"/>
        <result column="prompt_name" property="promptName"/>
        <result column="prompt_content" property="promptContent"/>
        <result column="description" property="description"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO ai_client_system_prompt (prompt_id, prompt_name, prompt_content, description, status, create_time, update_time)
        VALUES (#{promptId}, #{promptName}, #{promptContent}, #{description}, #{status}, #{createTime}, #{updateTime})
    </insert>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT id, prompt_id, prompt_name, prompt_content, description, status, create_time, update_time
        FROM ai_client_system_prompt
        WHERE id = #{id}
    </select>

    <update id="updateById">
        UPDATE ai_client_system_prompt
        SET prompt_id = #{promptId}, prompt_name = #{promptName}, prompt_content = #{promptContent}, description = #{description},
            status = #{status}, create_time = #{createTime}, update_time = #{updateTime}
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM ai_client_system_prompt WHERE id = #{id}
    </delete>

    <select id="selectList" resultMap="BaseResultMap">
        SELECT id, prompt_id, prompt_name, prompt_content, description, status, create_time, update_time
        FROM ai_client_system_prompt
        ORDER BY id
    </select>
    <select id="queryAiClientSystemPromptVOByClientIds"
            resultType="com.liubo.domain.model.valobj.AiClientSystemPromptVO">
        SELECT DISTINCT
            b.id,
            b.prompt_id AS promptId,
            b.prompt_name AS promptName,
            b.prompt_content AS promptContent,
            b.description AS description
        FROM
            ai_client_config a
        JOIN
            ai_client_system_prompt b  ON a.target_id = b.prompt_id AND b.status = 1
        WHERE
            a.source_type = 'client'
            AND a.target_type = 'prompt'
            AND a.status = 1
            AND a.source_id IN
        <foreach collection="clientIdList" item="clientId" open="(" separator="," close=")">
            #{clientId}
        </foreach>
    </select>
</mapper>
